.text {
    word-wrap: break-word;
    word-break: break-word;
    // line-height: 2;
    font-size: 1.2rem;
    color: #000;
    font-weight: 200;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.agreedComtainer {
    display: flex;
    justify-content: center;
}

.agreedText {
    color: green;
    font-size: 1rem;
    font-weight: 600;
}

.checkIcon {
    color: green;
    width: 2rem;
    height: auto;
}