.container {
  margin-top: 4rem;
}

.input-group {
  margin-bottom: 2rem;
}

.label {
  margin-right: 16px;
  display: block;
  margin-top: 2rem;
  font-size: 14px;
  color: #8d8d8d;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  color: #ffc42f;
  
}

.input {
  width: 40vw;
  height: 40px;
  // border: none;
  border: 1px solid #8d8d8d;
  padding: 0 16px;
  font-size: 16px;
  color: #161616;
  background: transparent;
  box-sizing: border-box;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: border-color 0.2s ease-in-out;
  border-radius: 10px;
}

.input:focus {
  border-bottom: 1px solid #ffc42f;
  outline: none;


}

.label+.input:focus {
  color: #161616;
}

input:focus::placeholder {
  color: transparent;
}

.button {
  width: 40%;
  background-color: #ffc42f;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 4rem;
}

;

.success {
  color: #ff0000;
  font-weight: 200;
}