/* Default (Desktop) */
.container {
  margin-top: 4rem;
  max-width: 40rem;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff77;
  padding: clamp(3rem, 6vw, 8rem) clamp(2rem, 4vw, 5rem);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.label {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 14px;
  color: #ffc42f;
  text-align: start;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid #8d8d8d;
  padding: 0 16px;
  font-size: 16px;
  color: #161616;
  background: transparent;
  box-sizing: border-box;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: border-color 0.2s ease-in-out;
  border-radius: 10px;
}

.input:focus {
  border-bottom: 1px solid #ffc42f;
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.button {
  width: 100%;
  background-color: #ffc42f;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 2rem;
  padding: 12px;
  text-align: center;
  transition: background 0.3s;
}

.button:hover {
  background-color: #e6a900;
}

/* Tablet (768px and below) */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 3rem 2rem;
  }

  .input {
    font-size: 14px;
    height: 38px;
  }

  .button {
    padding: 10px;
    font-size: 15px;
  }
}

/* Mobile (480px and below) */
@media (max-width: 480px) {
  .container {
    width: 95%;
    padding: 2rem 1.5rem;
  }

  .label {
    font-size: 12px;
  }

  .input {
    font-size: 14px;
    height: 36px;
  }

  .button {
    padding: 10px;
    font-size: 14px;
  }
}
