body{background-color: white;}

.stepContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 60px;
  
    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
  
      .circle {
        width: 40px;
        height: 40px;
        border: 2px solid #ccc;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        transition: all 0.3s ease;
        background-color: white;
        z-index: 1;
  
        &.active {
          background-color: #ffc42f; 
          color: white;
          border-color: #ffc42f; 
        }
      }
  
      .line {
        width: 50px;
        height: 2px;
        background-color: #ccc;
        position: relative;
        top: -20px;
        left: -52px;
  
        &.active {
          background-color: #ffc42f;
        }
      }
    }
  }

  @media screen and (max-width: 797px) {
    .stepContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        gap: 20px;
        position: relative;
        left: -15px;
      
        .step {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
      
          .circle {
            width: 40px;
            height: 40px;
            border: 2px solid #ccc;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            transition: all 0.3s ease;
            background-color: white;
            z-index: 1;
      
            &.active {
              background-color: #ffc42f; 
              color: white;
              border-color: #ffc42f; 
            }
          }
      
          .line {
            width: 50px;
            height: 2px;
            background-color: #ccc;
            position: relative;
            top: -20px;
            left: -52px;
      
            &.active {
              background-color: #ffc42f;
            }
          }
        }
      }
}
  