.container {
    padding: 3rem 5rem;
    background-color: #fff;
    width: 100vw;
}

.header {
    font-size: 3rem;
    text-align: right;
    font-weight: 500;
}

.notificationsContainer {
    background-color: beige;
}